<%= title pl(:familiar) %>

<% present @familiar do |presenter| %>

<div class="familiars">
<%= presenter.familiars(@familiars) %>
</div>

<%= presenter.new_sale(@sale) %>
<%= presenter.new %>

<% end %>
